div
{
	border: 0;
	margin: 0;
	padding: 0;
}
#wrap
{
	width: auto;
	height: auto;
	background-color: rgb(44, 62, 80);
}
#im
{
	width: 1022px;
	height: 378px;
	margin: auto;
	border: 10px solid rgb(34, 49, 63);
}
#bottom
{
	height: auto;
	width: auto;
	margin:auto;
	color: #E4F1FE;
	font-family: Sertig;
	text-align: center;
}